---

---

<footer>
    <nav>
        <ul>
            <li><a>Politique de protection des données</a></li>
            <li><a>Mentions légales</a></li>
            <li><a>Nous contacter</a></li>
            <li><a>03 84 28 08 80 | Amaelles</a></li>
        </ul>
        <ul>
            <li><a><img src="/public/assets/Facebook.svg"></a></li>
            <li><a><img src="/public/assets/Instagram.svg"></a></li>
            <li><a><img src="/public/assets/X.svg"></a></li>
            <li><a><img src="/public/assets/LinkedIn.svg"></a></li>
        </ul>
    </nav>
</footer>

<style lang="scss">

</style>