---

---

<div class="grand-jeu">
    <h1>
        <span>Grand jeu </span>: forum des jobs d'été 2024
    </h1>
    <p>Bienvenue sur ce grand jeu concours organisé par Amaelles, vous avez la possibilité en ayant un bon score d’obtenir le gain suivant : <strong>Cadeau</strong>.</p>
    <slot/>
</div>

<style lang="scss">
  @import "../../public/styles/variables.scss";

    .grand-jeu {
      background-color: #FCFCFC;
      padding: 24px 12px;
      margin: 12px 24px;
      box-shadow: $basic-shadow;
      border-radius: 24px;
      h1 {
        font-family: "Thinking Of Betty", serif;
        line-height: 1.5;
        text-align: center;
        font-size: 24px;
        padding: 0 12px;
        span {
          font-family: "Thinking Of Betty", serif;
          background-color: $main-color;
        }
      }
      p {
        text-align: center;
        font-size: 16px;
        padding: 24px 0;
        strong {
          text-transform: uppercase;
        }
      }
    }
</style>