---

---

<header>
    <div class="menu">
        <img src="/assets/logo.svg" alt="">
        <div class="menu-burger"/>
        <nav class="nav-desktop">
            <ul>
                <li><a href="">amaelles<span>.org</span></a></li>
                <li><a href="">Retrouvez nos offres d'emploi</a></li>
            </ul>
        </nav>
    </div>
    <nav class="nav-mobile close">
        <ul>
            <li><a href="">amaelles<span>.org</span></a></li>
            <li><a href="">Retrouvez nos offres d'emploi</a></li>
        </ul>
    </nav>
</header>

<script>
    const burger = document.querySelector(".menu-burger")
    const navigation = document.querySelector(".nav-mobile")
        burger.addEventListener('click', () => {
            navigation.classList.toggle("close");
    });
</script>

<style lang="scss">
  @import "/public/styles/variables.scss";
    header {
      @media screen and (min-width: $m-screen) {
        .menu-burger, .nav-mobile {
          display: none;
        }
        .nav-desktop {
          display: block;
        }
      }
      .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        background-color: #FFDB0D;
        height: min-content;
        width: 100vw;
        position: relative;
        .menu-burger {
          width: 40px;
          height: 4px;
          background-color: black;
          margin-right: 32px;
          position: relative;
          border-radius: 4px;
          &:before, &:after {
            content: "";
            width: 40px;
            height: 4px;
            background-color: black;
            margin-right: 12px;
            position: absolute;
            border-radius: 4px;
          }
          &:before {
            top: 10px;
          }
          &:after {
            bottom: 10px;
          }
        }
      }
      nav {
        ul {
          li {
            padding: 8px 0;
            a {
              font-family: "Playfair Display Variable", serif;
              font-weight: bold;
              font-size: 20px;
              span {
                font-family: "Playfair Display Variable", serif;
                color: white;
              }
            }
          }
          li:not(:last-child) {
            position: relative;
            &:before {
              content: "";
              position: absolute;
              width: 4px;
              height: 4px;
              background-color: black;
              border-radius: 4px;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              @media screen and (min-width: $m-screen) {
                bottom: 50%;
                transform: translateY(50%);
                right: -20%;
                left: inherit;
              }
            }
          }
        }
      }
    }
      .nav-desktop {
        display: none;
        margin-right: 40px;
        ul {
          display: flex;
          gap: 40px;
        }
      }
      .nav-mobile {
        position: absolute;
        text-align: center;
        width: 100vw;
        background-color: #FFDB0DDD;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transition: all .3s ease;
    }

  .close {
    transform: translateY(-100%);
  }

</style>